.contenedor {
  width: 100%; /* Porcentaje del ancho de la pantalla */
  max-width: 1250px; /* Ancho máximo para pantallas grandes */
  margin: 0 auto; /* Centrar el contenido en el contenedor */
  transform: matrix(1.535,0,0,1.58,0,270);
  overflow: hidden;
}
.mas-informacion-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .mas-informacion-msinformacin {
    width: 100%;
    height: 596px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(116, 153, 242, 1);
  }
  .mas-informacion-rectangle61 {
    top: 548px;
    left: 0px;
    width: 1264px;
    height: 48px;
    position: absolute;
  }
  .mas-informacion-line12 {
    top: 548px;
    left: 0px;
    width: 1264px;
    height: 1px;
    position: absolute;
  }
  .mas-informacion-text {
    top: 557px;
    left: 406px;
    color: rgba(255, 255, 255, 1);
    width: 452px;
    height: auto;
    position: absolute;
    font-size: 12px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .mas-informacion-text02 {
    top: 574px;
    left: 406px;
    color: rgba(255, 255, 255, 1);
    width: 452px;
    height: auto;
    position: absolute;
    font-size: 12px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .mas-informacion-line17 {
    top: 59px;
    left: 0px;
    width: 1264px;
    height: 1px;
    position: absolute;
  }
  .mas-informacion-text04 {
    top: 17px;
    left: 15px;
    color: rgba(255, 255, 255, 1);
    width: 191px;
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .mas-informacion-group17 {
    top: 16px;
    left: 734px;
    width: 191px;
    height: 24px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .mas-informacion-rectangle13 {
    top: 0px;
    left: 26px;
    width: 136px;
    height: 24px;
    position: absolute;
    border-radius: 9px;
  }
  .mas-informacion-text06 {
    top: 3px;
    color: rgba(255, 255, 255, 1);
    width: 191px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .mas-informacion-navlink {
    display: contents;
  }
  .mas-informacion-group18 {
    top: 16px;
    left: 641px;
    width: 119px;
    height: 24px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    text-decoration: none;
  }
  .mas-informacion-rectangle131 {
    top: 0px;
    left: 16.19890594482422px;
    width: 85px;
    height: 24px;
    position: absolute;
    border-radius: 9px;
  }
  .mas-informacion-text08 {
    top: 3px;
    color: rgba(255, 255, 255, 1);
    width: 119px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .mas-informacion-navlink1 {
    display: contents;
  }
  .mas-informacion-group19 {
    top: 16px;
    left: 881px;
    width: 191px;
    height: 24px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    text-decoration: none;
  }
  .mas-informacion-rectangle132 {
    top: 0px;
    left: 26px;
    width: 136px;
    height: 24px;
    position: absolute;
    border-radius: 9px;
  }
  .mas-informacion-text10 {
    top: 3px;
    color: rgba(255, 255, 255, 1);
    width: 191px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .mas-informacion-navlink2 {
    display: contents;
  }
  .mas-informacion-group20 {
    top: 16px;
    left: 1017px;
    width: 191px;
    height: 24px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    text-decoration: none;
  }
  .mas-informacion-rectangle133 {
    top: 0px;
    left: 41px;
    width: 111px;
    height: 24px;
    position: absolute;
    border-radius: 9px;
  }
  .mas-informacion-text12 {
    top: 3px;
    color: rgba(255, 255, 255, 1);
    width: 191px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .mas-informacion-frameiconprofilecircle {
    top: 6px;
    left: 1192px;
    width: 52px;
    height: 44.999610900878906px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .mas-informacion-group {
    top: 0px;
    left: 0px;
    width: 52px;
    height: 44.999610900878906px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .mas-informacion-vector {
    top: 0px;
    left: 0px;
    width: 52px;
    height: 45px;
    opacity: 0.40;
    position: absolute;
  }
  .mas-informacion-vector1 {
    top: 11.091530799865723px;
    left: 16.25px;
    width: 19px;
    height: 17px;
    position: absolute;
  }
  .mas-informacion-vector2 {
    top: 30.611238479614258px;
    left: 8.373827934265137px;
    width: 35px;
    height: 14px;
    position: absolute;
  }
  .mas-informacion-navlink3 {
    display: contents;
  }
  .mas-informacion-image9 {
    top: 3px;
    left: 6px;
    width: 48px;
    height: 47px;
    position: absolute;
    text-decoration: none;
  }
  .mas-informacion-group78 {
    top: 297px;
    left: 372px;
    width: 127px;
    height: 117px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .mas-informacion-frameiconprofilecircle1 {
    top: 0px;
    left: 0px;
    width: 127px;
    height: 117px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .mas-informacion-group1 {
    top: 0px;
    left: 0px;
    width: 127px;
    height: 117px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .mas-informacion-vector3 {
    top: 0px;
    left: 0px;
    width: 127px;
    height: 117px;
    position: absolute;
  }
  .mas-informacion-vector4 {
    top: 28.839710235595703px;
    left: 39.6875px;
    width: 48px;
    height: 44px;
    position: absolute;
  }
  .mas-informacion-group79 {
    top: 297px;
    left: 742px;
    width: 127px;
    height: 117px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .mas-informacion-frameiconprofilecircle2 {
    top: 0px;
    left: 0px;
    width: 127px;
    height: 117px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .mas-informacion-group2 {
    top: 0px;
    left: 0px;
    width: 127px;
    height: 117px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .mas-informacion-vector5 {
    top: 0px;
    left: 0px;
    width: 127px;
    height: 117px;
    position: absolute;
  }
  .mas-informacion-vector6 {
    top: 28.839710235595703px;
    left: 39.6875px;
    width: 48px;
    height: 44px;
    position: absolute;
  }
  .mas-informacion-text14 {
    top: 446px;
    left: 287px;
    color: rgba(255, 255, 255, 1);
    width: 299px;
    height: auto;
    position: absolute;
    font-size: 10px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .mas-informacion-text16 {
    top: 446px;
    left: 673px;
    color: rgba(255, 255, 255, 1);
    width: 296px;
    height: auto;
    position: absolute;
    font-size: 10px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .mas-informacion-group80 {
    top: 498px;
    left: 341px;
    width: 191px;
    height: 24px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .mas-informacion-rectangle134 {
    top: 0px;
    left: 26px;
    width: 136px;
    height: 24px;
    position: absolute;
    border-radius: 9px;
  }
  .mas-informacion-text18 {
    top: 3px;
    color: rgba(255, 255, 255, 1);
    width: 191px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .mas-informacion-group81 {
    top: 498px;
    left: 711px;
    width: 191px;
    height: 24px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .mas-informacion-rectangle135 {
    top: 0px;
    left: 26px;
    width: 136px;
    height: 24px;
    position: absolute;
    border-radius: 9px;
  }
  .mas-informacion-text20 {
    top: 3px;
    color: rgba(255, 255, 255, 1);
    width: 191px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .mas-informacion-text22 {
    top: 263px;
    left: 405px;
    color: rgba(255, 255, 255, 1);
    width: 449px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .mas-informacion-text24 {
    top: 424px;
    left: 218px;
    color: rgba(255, 255, 255, 1);
    width: 449px;
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .mas-informacion-text26 {
    top: 424px;
    left: 582px;
    color: rgba(255, 255, 255, 1);
    width: 449px;
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .mas-informacion-image22 {
    top: 220px;
    left: 201px;
    width: 880px;
    height: 222px;
    position: absolute;
  }
  .mas-informacion-text28 {
    top: 120px;
    left: 418px;
    color: rgba(255, 255, 255, 1);
    width: 424px;
    height: auto;
    position: absolute;
    font-size: 10px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .mas-informacion-text37 {
    top: 84px;
    left: 405px;
    color: rgba(255, 255, 255, 1);
    width: 449px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }